# Ignorar archivos y carpetas generadas automáticamente
bin/
obj/
.vs/
packages/
*.user
*.suo
*.log

# Ignorar configuraciones locales de Visual Studio
*.vscode/

# Ignorar archivos de compilación específicos
*.dll
*.exe
*.pdb
*.cache
*.csproj.user
*.csproj.DotSettings.user

# Ignorar carpetas de NuGet
*.nupkg
*.snupkg

# Incluir archivos necesarios para restaurar dependencias
!packages.config
!*.csproj
!NuGet.config

# Incluir DLLs necesarias para SqlServerTypes
!SqlServerTypes/x86/SqlServerSpatial140.dll
!SqlServerTypes/x86/msvcr120.dll
!SqlServerTypes/x64/SqlServerSpatial140.dll
!SqlServerTypes/x64/msvcr120.dll


# Ignorar archivos de configuración específicos del sistema